*{
    color:black;
    background-color:white;
    font-family:helvetica,arial,sans-serif;
}
h1 {
    width: 100%;
    background-color: green;
    font-size: 5em;
    color: white;
    margin: 0 0 1em;
    padding: 0.5em;
}
h2, p {
    font-size: 1em;
    font-weight: bold;
}